<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            var email, pass;
            $("#submit").click(function(){
                email = $("#email").val();
                pass = $("#password").val();
                $.post("/login",{email:email, pass:pass}, function(data){
                    if (data == "success") {
                        window.location.href="/admin"
                    }
                    else {
                        window.location.href="/"
                    }
                })
            })
        })
        </script>
    </head>
        <body>
            <input type="text" size="40"
            placeholder="Enter your mail id"
            id = "email">
            <input type="password" size="40"
            placeholder="Enter password"
            id="password">
            <input type="button" value="login" id="submit">
        </body>
</html>