<html>
    <body>
        <table>
        <th>
            <tr>
                <td> Name </td>
           
                <td> City </td>
                <td> Age </td>
           
                <td> Job </td>

            </tr>
            <tr>
                <td> <%=user%> </td>
           
                <td><%=city%></td>
            </tr>
        </th>
        </table>
    </body>
</html>